################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework/.vs/Homework/v16/Server/sqlite3/db.lock
